@charset "UTF-8";

/* 横並びレイアウト */
.nav__list {
  display: flex;
  list-style: none;
  justify-content: space-between;   /*display: flex; が適用されているときのみ適用可能*/
  gap: 20px;  /*display: flex; が適用されているときのみ適用可能*/
}

.nav__item a {
  color: #f00;
  text-decoration: none;
}

/* 767pxはタブレットで多い幅 */
@media screen and (max-width:767px) {
  .nav__list {
    flex-direction: column;
  }

  .nav__item a {
    color: #f2a100;
  }
}